	<footer role="contentinfo">
		<div class="hr"></div>
		<div class="footer-link">
      <a href="http://mockmock.connpass.com/" target="_blank">About</a>
			{{ with .Site.Params.github }}<a href="{{ . }}" target="_blank">GitHub</a></span>{{ end }}
		</div>
		<div class="copyright">Copyright &copy; {{ .Site.Params.copyright }}</div>
	</footer>

</div>

<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.4/highlight.min.js"></script>
<script>hljs.initHighlightingOnLoad();</script>

</body>
</html>
